.navbar {

  background-color: var(--dark-primary);
  color: var(--accent-one);
  list-style: none;
}

.nav-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

.navbar-brand {
  font-family: var(--header-font);
  font-size: 1.5em;
  color: var(--accent-one);
  cursor: pointer;
}

.nav-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 1em;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--accent-one);
  padding: 0.5em;
  text-decoration: none;

}

.nav-link:hover {
  color: var(--accent-two);
  background-color: var(--dark-secondary);
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  color: var(--accent-one);
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  z-index: 2;
}

@media (max-width: 785px) {
  .hamburger-menu {
    display: block;
  }

  .hamburger-menu:hover {
    color: var(--accent-two) !important;
    cursor: pointer;
  }

  .nav-link-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--dark-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: width 0.3s;
    z-index: 1;
  }

  .nav-link-container.open {
    transform: translateX(0);
  }

  .nav-link.open {
    display: flex;
    margin: 20px 0;
  }
}
