.navbar {

  background-color: var(--dark-primary);
  color: var(--accent-one);
  list-style: none;
}

.nav-brand{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

.navbar-brand {
  font-family: var(--header-font);
  font-size: 1.5em;
  color: var(--accent-one);
  cursor: pointer;
}

.nav-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 1em;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--accent-one);
  padding: 0.5em;
  text-decoration: none;

}

.nav-link:hover {
  color: var(--accent-two);
  background-color: var(--dark-secondary);
  cursor: pointer;
}
