img {
  width: 20vw;
  height: 20vh;
}

.land-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60px;
  bottom: 20vh;
  left: 0;
  right: 0;
  margin: auto;
}

h1 {
  font-family: var(--header-font);
  background: linear-gradient(120deg, var(--button-secondary) 65%, var(--accent-one));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--shadow) 2px 2px 2px 2px;
  font-size: 5vw;
}

h3 {
  font-family: var(--secondary-header-font);
  font-size: 3vw;
}



.infobox {
  border: 1px solid black;
  box-shadow: 3px 3px 3px 3px var(--shadow);
  margin: 0;
  padding: 0;
  width: 70vw;
  height: 20vh;
  overflow: scroll;
  position: absolute;
  top: 60vh;
  left: 15vw;
  background: var(--dark-primary);
}

.infobox-text {
  font-family: var(--primary-font);
  color: var(--light-primary);
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  resize: none;
  overflow: auto;
  overflow-y: scroll;
}
