img {
  width: 20vw;
  height: 20vh;
}

.land-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 20vh;
  left: 0;
  right: 0;
  margin: auto;
}

h1 {
  font-family: var(--header-font);
  background: linear-gradient(120deg, var(--button-secondary) 65%, var(--accent-one));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: var(--shadow) 2px 2px 2px 2px;
  font-size: 5vw;
}

h3 {
  font-family: var(--secondary-header-font);
  font-size: 3vw;
}
