button {
  background-color: var(--button-primary) !important;
  color: var(--accent-one) !important;
  box-shadow: var(--shadow) 2px 2px 2px 2px !important;
}

.login-button {
  position: absolute;
  top: 90vh;
  left: 40vw;
}

.register-button {
  position: absolute;
  top: 90vh;
  left: 50vw;
}

@media (max-width: 880px) {
  .login-button {
    top: 82vh;
    left: 44.5vw;
  }

  .register-button {
    top: 90vh;
    left: 42vw;
  }
}
@media (max-width: 600px) {
  .login-button {
    top: 82vh;
    left: 40vw;
  }

  .register-button {
    top: 90vh;
    left: 37vw;
  }
}

