@font-face {
  font-family: 'pirulen';
  src: url('assets/fonts/pirulen.otf');
}

@font-face {
  font-family: 'glitch';
  src: url('assets/fonts/Glitch.ttf');
}

:root {
  --header-font: 'glitch', sans-serif;
  --secondary-header-font: 'pirulen', sans-serif;
  --primary-font: 'Roboto', sans-serif;


  --light-primary: hsl(187, 100%, 73%);
  --light-secondary: hsl(185, 53%, 34%);
  --dark-primary: hsl(194, 100%, 21%);
  --dark-secondary: hsla(191, 100%, 12%, 0.68);
  --button-primary: hsl(198, 100%, 16%);
  --button-secondary: hsl(166, 100%, 8%);
  --accent-one: #C9AC89;
  --accent-two: #C98C42;
  --shadow: rgba(47, 35, 28, 0.68);
  --transition-speed: 600ms;

  --message-success: #9bf89b;
  --message-error: #f88a8a;
}
